@import url("normalize.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');


body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
}

p {
    margin-bottom: 1.3em;
    font-size:0.8rem;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: inherit;
  line-height: 1.2;
  text-align:center;
}

h1 {
  margin-top: 0;
  font-size: 1.75rem;
  letter-spacing:1.4;
}

h2 {
    font-size: 4rem;
    font-weight:300;
}

.brandi {
    font-weight: 700;
}

h3 {
    font-size: 3rem;
    font-weight:300;
}

.creaive {
    color:hsl(156, 100%, 50%);
}

h4 {
    font-size: 1.2rem;
}

small, .font_small {font-size: 0.667rem;}

.content {
    display:grid;
    grid-template-columns:repeat(12,1fr);
    align-items:center;
    margin:0 auto;
}

header {
    background-image:url("../img/Header Img.jpg");
    color:rgba(255,255,255,0.75);    
}

.header-content {
    width:75%; 
    height:10vh;
}

.logo {
    grid-column:span 3;
    justify-self:start;
    font-family:"Pacifico",cursive;
}

nav {
    grid-column:span 9;
    justify-self:end;
}

nav a {
    margin-right:0.8rem;
    text-decoration:none;
    color:rgba(255,255,255,0.75);
    font-size:0.8rem;
}

.jumberton {
    background:url("../img/Header Img.jpg");
    color:rgba(255,255,255,0.75);
}

.jumberton-content {
    width:75%;
    height:90vh;
    align-items:center;
    justify-items:center;
    grid-template-rows:3fr 1fr;
}

.jumberton-block {
    grid-column:span 12;
}

.jumberton-block h4 {
    margin-top:1.5rem;
}

.brandi {
    font-weight:700;
}

.jumberton a {
    color:rgba(255,255,255,0.75);
    margin-right:0.25rem;
}

/*FEATURES*/

section {
    padding:5vh 0;
}

.slider {
    width:80%;
    margin:5vh auto;
    grid-column:span 12;
}

.title {
    grid-column:span 12;
    text-align:center;
    position:relative;

    font-family: "Open Sans",sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color:hsl(165, 100%, 40%);
    font-weight:800;
}

.title h3 {
    font-weight:800;
}

.title i {
    color:rgba(0,0,0,0.25);
    font-size:0.8rem;
}

.facts i {
    color:hsla(0, 0%, 100%, 0.75);
}

/*
.title i::before {
    content:"";
    width:2rem;
    height:2px;
    background-color:rgba(0,0,0,0.25);
    position:absolute;
    left:0rem;
}

.title i::after {
    content:"";
    width:2rem;
    height:2px;
    background-color:rgba(0,0,0,0.25);
    position:absolute;
    right:0rem;
}
*/

.features-block {
    display:grid;
    grid-template-columns: 1fr 5fr;
    align-items:start;
    grid-gap:1rem;
}

.features-block i {
    border:1px solid hsla(165, 100%, 40%, 1);
    color:hsla(165, 100%, 40%, 1);
    width:1rem;
    height:1rem;
    padding:1rem;
    margin:0;
    border-radius:50%;
}

.features-block  h4 {
    text-align:left;
    font-weight:900;
}

.text-block {
    margin-right:1rem;
}

/*WORK*/

.work-block {
    grid-column:span 12;
}

.disclaimer p {
    font-size:1.1rem;
    color: hsla(205, 79%, 11%,0.8);
}

.work-content {
    width:75%;
    text-align:center;
}

.menu-work a {
    color: hsl(205, 79%, 11%);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    margin-right:2rem;
    text-decoration:none;
    padding:0.25rem 0.5rem;
}

.menu-work a:hover {

    background-color: hsl(168, 86%, 38%);
    color:white;
    border-radius:1rem;
}

/*Gallery*/

.gallery-content figure {
    grid-column:span 3;
}

figure {
    margin:0;
}

.team-member figure {
    margin:1rem;
}

img {
    width:100%;
    display: inherit;
}

/*team */

.team-content {
    text-align:center;
}

.team-block {
    grid-column:span 12;
}

.team-member {
    grid-column:span 3;
    margin-right:2rem;
}


.team-member h4 {
    color: hsl(205, 79%, 11%);
    font-weight: 400;
    cursor:pointer;
    margin-top:1.5rem;
}

.team-member h4:hover {
    color: #0eb493;
}

.team-member p {
    color: #062033;
    font-weight: 400;
    text-align:center;
    margin-top:1rem;
}

.team-block p {

    opacity: 0.8;
    color: #062033;
    font-family: "Open Sans - Semibold";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.facts {
    background-image:linear-gradient(to bottom, rgba(6, 32, 51, 0.8), rgba(6, 32, 51, 0.8)), url("../img/Layer_29.png");
    background-color: #062033;
    color:white;



}

.facts-content {
    width:85%;
}

.facts-content h3 {
    color: #0eb493;
}

.facts-block {
    grid-column:span 3;
    text-align:center;
}

.facts-block i {
    font-size:3rem;
    padding:2rem;
    border:2px solid white;
    border-radius:50%;
    margin:2rem;
}

.discuss-block {
    grid-column:span 12;
    text-align:center;
}

.facts-block p {
    font-size:1rem;
    text-transform:uppercase;
}

/* LETS DISCUSS */

.discuss-content {
    width:85%;
    grid-gap:2rem;
}

.discuss-content h4 {
    text-align:left;
}

.adress-block {
    grid-column:span 2;
}

.form-block {
    grid-column:span 9;
}

.discuss-social-bar {
    grid-column:12;
    display:grid;
    grid-template-rows:repeat(5,1fr);
    grid-row-gap:0.5rem;
}

.discuss-social-bar i {
    color:rgba(0,0,0,0.2);
    font-size:1rem;
}

form {
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-gap:1rem;
}

.form-block {
    grid-gap:2rem;
}

.form-block h4 {
    grid-column:span 12;
    justify-self:start;
}

.username, .mail {
    grid-column:span 6;
}

.message {
    grid-column:span 12;
}

input[type="text"], input[type="email"] {
    grid-column:span 6;
    padding:0.5rem 1rem;
    border:none;
    border-bottom:2px solid rgba(0,0,0,0.25);
    font-size:0.8rem;
}

textarea {
    grid-column:span 12;
    margin:1rem 0;
    padding:0.5rem 1rem;
    resize:none;
    border:none;
    border-bottom:2px solid rgba(0,0,0,0.25);
    font-size:0.8rem;
    min-height:20vh;
}

.btn {
    grid-column:span 12;
    justify-self:end;
    font-size:1rem;
    border:none;
    background-color:white;
}

.btn i {
    color:hsla(165, 100%, 40%, 1);
    margin-right:0.75rem;
}

iframe {
    grid-column:span 12;
    height:245px;
    filter:grayscale(90%);
    border-bottom:5px black solid;
}

.map {
    padding:0;
}

/*FOOTER*/

footer {
    background-color:#21b697;
    color:white;
    display:grid;
    align-items:center;
    min-height:50vh;
    
}

.footer-content {
    width:85%;
    
    
    align-content:start;
    grid-gap:2rem
}

.footer-block {
    grid-column:span 3;
}

.logo-footer h4{   
    font-family:"Pacifico",cursive;
}

footer h4 {
    text-align:left;
    margin-bottom:1rem;
}

.footer-list {
    
}

ul li {
    list-style: none;
    font-size:0.8rem;
}

.footer-list ul {
    padding:0;
    columns:2;
}

.copyright, .footer a {
    color:rgba(6, 32, 51, 0.8);
    text-decoration:none;
}

.footer-block form {
    display:grid;
    grid-template-columns:5fr 1fr;
    grid-gap:0;
}

.footer-block input[type="email"], .footer-block .btn {
    grid-column:1;
    background-color:hsl(168, 69%, 42%);
    border:none;
    border-top:2px white solid;
    border-bottom:2px white solid;
    width:100%;
}

.footer-block .btn {
    grid-column:2;
}

.footer-block .btn i {
    color:white;
}



@media screen and (max-width:768px) {
    .facts-block, .footer-block {
        grid-column:span 6;
    }

    .adress-block {
        display:none;
    }

    .form-block {
        grid-column:span 11;
    }
}

@media screen and (max-width:425px) {
    .header-content, .work-content {
        width:95%;
    }

    .work-block a {
        margin-right:1rem;
    }

    .gallery-content figure {
        grid-column:span 6;
    }
}


